[2015-09-09 13:39] perfilrobo opened #1 "Image icon hexbot"
![favicon](https://cloud.githubusercontent.com/assets/14199333/9763247/eb99f3f6-56de-11e5-88db-b5a8c25f141f.png)

[2015-11-17 22:37] Quartz101 opened #3 "Bot stops after refreshing when the cloudflare page comes up"
When HE goes down, and the cloudflare page comes up, then when I refresh and HE is back up, the bot stops doing it's thing. I was installing a virus on multiple IPs.

[2015-11-17 22:39] Quartz101 opened #4 "[Suggestion] ONLY Hack list of IPs"
Title says it all. Well, basically. Like the download/install/hide thing, but without downloading/installing/hiding or logging in. Just hacks and moves on. And maybe make it faster by, instead of clicking the buttons, changing the url path to like "/internet?ip=1.2.3.4".

[2016-02-02 16:57] naimmulmukin opened #6 "[ Suggestion ]"
Can you add delete software missions... because other people using bot too, and I cant get transfer or check money missions

[2016-02-14 05:38] perfilrobo commented on #6
@naimmulmukin Actually this bot works pretty well just with high crackers. If you can't get in the bank server the bot will fail trying to do that. What we need to improve this script is teaching the bot to improve our crack by itself. :)

[2016-02-15 08:08] LaGallinaTuruleta opened #7 "It doesn't run [SOLVED MY OWN :P]"
Hi,
I just installed this as google chrome extension.
Any window appear.
Does this affect, i access to hacker experience with this "https://hackerexperience.com/"
line 32 on manifest.json:
"matches": [https://br.hackerexperience.com/, "https://en.hackerexperience.com/*"]
Thx
I solved my self XD
I just modify "https://br.hackerexperience.com" with "https://hackerexperience.com"
And it works

[2016-02-17 21:58] #7 closed

[2016-02-17 22:21] LaGallinaTuruleta opened #8 "[Issue] Lisen transfer and upload install and hide doesn't work"
Hello,
The scripts for the missions work pretty well.
But in the "Listen transfer bank logs on " and "Upload, install and hide this " don't work for me i explain what i'm trying to do.

On "Listen transfer bank logs on" , i type "Bank IP" and and on the next field "MyAccountNumber"
Then it go to the Bank IP and try directly to hack the bank error "This ip is already on your hacked database" and a

[2016-02-26 04:20] ShinXPixell opened #9 "[Issue]Missions just stop"
The bot start searching for a Mission and after it finds one the bot goes to the bank IP(Check account status Missions) and begin to hack the account after it is done the bot just stops, it does the same with the transfer money missions, the problem seems to be with logging in the hacked accounts I clicked login manualy to go into accounts and from there it finished the mission on its own.

[2016-02-26 04:25] ShinXPixell commented on #8
The bot stops after cracking bank accounts in Missions for me

[2016-02-26 04:54] ShinXPixell commented on #9
Edit: The check bank status work fine, the problem was not having my own account at the bank that the bot was using to crack an account, the transfer money mission works fine aswell till the end but them do not finish up the mission for me, it just stops after clearing up the logs at the bank without completing the mission and trying to get a new one

[2016-02-26 14:33] LaGallinaTuruleta commented on #9
It happens sometimes just logout the server and it finish.

[2016-02-28 11:10] MentalMushrooms opened #10 "Suggestion Page"
I dont know how to install it, im on chrome (Google) But idk how to install.
I got the zip file but idk what to do with that.
Someone help me.

[2016-02-28 11:13] MentalMushrooms commented on #9
I dont know how to install it, im on chrome (Google) But idk how to install.
I got the zip file but idk what to do with that.
Someone help me.

[2016-02-28 11:13] MentalMushrooms commented on #8
I dont know how to install it, im on chrome (Google) But idk how to install.
I got the zip file but idk what to do with that.
Someone help me.

[2016-02-29 08:20] LaGallinaTuruleta commented on #10
There is a youtube video...

[2016-02-29 08:46] MentalMushrooms commented on #10
Can you give me a link?
Ill remove the other comments...

[2016-02-29 11:41] LaGallinaTuruleta commented on #10
Come on find it... It's easy to find

[2016-02-29 15:16] MentalMushrooms commented on #10
Clue?
Gimme a hint on utube.

[2016-02-29 15:40] MentalMushrooms commented on #10
Nevermind, i found the vid.
One question though, if bot was camping at bank and transferring immediately, couldnt i have atleast 2 Browsers working together to hide the logs faster?
Just wondering.
XD

[2016-02-29 15:40] LaGallinaTuruleta commented on #10
if u have 2 accounts u can do it but if not it's imposible

[2016-02-29 15:45] MentalMushrooms commented on #10
Ahh, right.
So like 2 separate acc's on HX?
How exactly would 1 bot ally with another if they are working for separate acc's?
ALL DEH QUESTIONS!!!

[2016-02-29 15:48] MentalMushrooms commented on #10
Wait i am on the br one for this to work, can i change the script in notepad so that it would be just hackerexprience.com not br.hackerexperience.com?

[2016-02-29 15:57] LaGallinaTuruleta commented on #10
I said it on here https://github.com/perfilrobo/hexbot/issues/7
In my case i access to HE with hackerexprience.com I changed to run this script on that domain.

[2016-02-29 15:58] MentalMushrooms commented on #10
Right doing it now...

[2016-02-29 15:59] MentalMushrooms commented on #10
Wait which is the script that i have to edit and on what line?
Tell me pl0x
Thanks

[2016-02-29 16:00] LaGallinaTuruleta commented on #10
https://github.com/perfilrobo/hexbot/issues/7

[2016-02-29 16:00] MentalMushrooms commented on #10
Thanks

[2016-02-29 16:09] MentalMushrooms commented on #10
O sht idk how to change the .json file. HEWLP
i now go on hackerexperience (Not .br) And its in portuguese, nuuuu

[2016-02-29 16:19] LaGallinaTuruleta commented on #10
... How? It's a file open it and change the value.

[2016-02-29 16:19] LaGallinaTuruleta commented on #10
21.4

[2016-02-29 16:21] MentalMushrooms commented on #10
I opened it as a notepad, i cant change the file but in notepad then it doesnt work.

[2016-02-29 16:26] LaGallinaTuruleta commented on #10
Dude, start learning a understandable english.  You can learn the basics of JavaScript or just open any file and read it and know what it makes.

[2016-02-29 16:28] MentalMushrooms commented on #10
Im new to github and javascript and other things but all I wanted was this bot.

[2016-02-29 16:29] MentalMushrooms commented on #10
Im reinstalling the zip file and trying to edit json file so it works.

[2016-02-29 16:32] MentalMushrooms commented on #10
Alright, everything ok... but google says there is a problem with the .json file.
Ill post a pic.
![screenshot_1](https://cloud.githubusercontent.com/assets/17526514/13400951/1097bf98-df02-11e5-9764-74cc81dd38b4.png)

[2016-02-29 16:35] MentalMushrooms commented on #10
Btw a view of whats in the folder.

![screenshot_2](https://cloud.githubusercontent.com/assets/17526514/13401033/66d5e998-df02-11e5-80c5-a0bfeb6498a6.png)

[2016-02-29 16:46] LaGallinaTuruleta commented on #10
I don't know what are u doing.
To start i downloaded the zip , secondly I unziped , thirdyl i add the bot to the google chrome and to finish i modified the manifest.json #7 And it works partially. XD

[2016-02-29 16:49] MentalMushrooms commented on #10
Alright, ill figure it out sooner or later.
Im still using br since I cant be bothered.
Da bot does the werk 4 me.

[2016-03-01 18:40] LaGallinaTuruleta commented on #10
Does everything works?¿

[2016-03-01 19:46] MentalMushrooms commented on #10
Aye, its working, I reinstalled and just went on en.hackerexperience
Works fine now...
Left bot working for 40 mins...
Gained 14K in bank.
Transferred to bitcoin.
(I used the bot many times to achieve this)
200+ bitcoins.
Gg no re :D

[2016-03-01 19:59] LaGallinaTuruleta commented on #10
Does upload, install and hide this works?

[2016-03-01 20:09] MentalMushrooms commented on #10
No, nothing works apart from missions, I did the bank and corrected the ip and transferred to my acc, (on the bank chosen) but that didnt work.
The install hide and wutever doesnt work too.
It says request.ip.pop() which idk how to fix.
Maybe do a fork and fix it?

[2016-03-01 20:13] LaGallinaTuruleta commented on #10
When the loop of reques.ip.pop() , just disable the extension and enable it :)

[2016-03-01 20:13] MentalMushrooms commented on #10
Alright, what about bank logger thingy?

[2016-03-01 20:16] LaGallinaTuruleta commented on #10
"Listen transfer bank logs on " doesnt work too

[2016-03-01 20:17] MentalMushrooms commented on #10
Alright, im gonna refresh the extension now and do upload and shiz.
I wont reply for a while...
Thanks for the help.
:)

[2016-03-01 20:21] MentalMushrooms commented on #10
Nope, refreshing the extension didnt work, and disabling doesnt work either.
Any fix?

[2016-03-01 20:22] LaGallinaTuruleta commented on #10
It keep on the loop?

[2016-03-01 20:25] MentalMushrooms commented on #10
Yes.

[2016-03-01 20:48] MentalMushrooms commented on #10
Can you reply on how to fix?

[2016-03-01 21:34] LaGallinaTuruleta commented on #10
idk i have the same issue #8

[2016-03-01 21:42] MentalMushrooms commented on #10
Someone should defo do a fork on this project.
This could possibly be the only bot that is actually good for Hacker Experience.
Suggestion : Make the bot have a feature of which you can auto research softwares. Like set a goal to get a 1.0 nmap to 3.0. ( and give an approx amount of money you need )
I do feel confident that If I was good at JavaScript, I would DEFO fork this to its max.
I know tha

[2016-03-01 22:09] MentalMushrooms commented on #10
Gallina, what way do you think is the best way to earn money? (Not mission botting)
Miner or top warez? (3.0 Torrent)
I dont even know, id go with miner.
If you can do calculations that would be great.

[2016-03-02 07:37] LaGallinaTuruleta commented on #10
Many minners on litlle servers and warez on 100 250 500 1000 mb brandwitch servers

[2016-03-02 08:16] MentalMushrooms commented on #10
I know but I wish this bot would be improved by the creator.
It has such potential...

[2016-03-03 18:31] LaGallinaTuruleta commented on #10
Problems (SOLVED) ?? If it's solved close this , but i think that it isnt solved

[2016-03-03 18:34] MentalMushrooms commented on #10
Alright then, closed.

[2016-03-03 18:36] LaGallinaTuruleta commented on #10
Did the creator resolve the issue?

[2016-03-03 18:37] LaGallinaTuruleta commented on #10
If u want to make a Suggestion, make like other people and create a post called " [ Suggestion ] ...."

[2016-03-03 18:38] MentalMushrooms commented on #10
Alright.
Good to know I guess.

[2016-03-04 08:01] MentalMushrooms commented on #10
LaGallina seized fbi suspect astra1...
How do u do dat?

[2016-03-04 08:52] LaGallinaTuruleta commented on #10
Haha, ddos fbi list

[2016-03-04 15:27] MentalMushrooms commented on #10
All right, although, do you get tracked by safenet for doing so?
Or if you are in safenet suspect, will FBI Put you on their list?

[2016-03-19 21:25] TheOrangeGaming opened #11 "[Issue]Listening to bank logs then stealing cash doesn't work"
When I'm stealing from the bank the script doesn't notice that it's already saved and gives me a popup saying my cracker is shit which can't be true I have a 28 cracker does anyone know a fix for this if so please help me :D

[2016-03-31 09:06] madrileanu opened #12 "Extension not working"
Hello everyone,

The extension is not working anymore.
Is there a way to fix it?

Thanks.

[2016-04-02 03:50] johnyob commented on #11
I'm getting the same issue

[2016-04-07 14:54] cmathiswausau commented on #12
What is not working with it? if your talking about that it is not able to run, you might want to check that your manifest file is correctly setup.

[2016-04-11 01:01] perfilrobo commented on #12
Hey guys. I have to apologize. I've been offline for a long time. There are a bunch of pendent questions I did't answer them yet. Actually I'm kind of busy in work. As soon as I get it over I'll resume this project. By the way, feel free to modify the code. Just pull request me.

[2016-04-11 01:13] perfilrobo opened #15 "Pull requests accepted"
All changes accepted. Code is clearer. Visual is now really better. Awesome contributions. +1:

[2016-04-17 05:43] dominicusdev commented on #6
@perfilrobo Perhaps a researcher bot?

[2016-04-18 07:16] perfilrobo commented on #10
@MentalMushrooms @LaGallinaTuruleta
Guys, I'm sorry I didn't reply your questions. I didn't even notice this conversation. So, better later than ever. We've been working on some code snippets to solve that problems. Our team have redesigned the visual menu, included a riddle solver and the last guy cleaned all code up. I think I fixed up a problem were causing malfunction on uploading softwares an

[2016-04-18 07:25] MentalMushrooms commented on #10
Alright, ill try it after 3pm, btw do we need to reinstall the zip folder for the new one?
Im really excited to see the improvements.

[2016-04-18 07:41] perfilrobo commented on #10
Yes, you must download it again and reinstall it. I guess you'll appreciate this. ;)

[2016-04-18 15:34] MentalMushrooms commented on #10
WOAH!!!!
SERIOUSLY IMPRESSED!
This has improved MUCH More.
Glad to see it has been updates once again!
Going to be playing hacker experience forever now with this bot.

[2016-04-18 21:20] dominicusdev commented on #10
@perfilrobo The team? :octocat: Any possibility I could join this?

[2016-04-18 21:30] perfilrobo commented on #10
@dominicusdev When I said "the team", I was talking about everyone who contributed to the project. And for sure you are part of the team.

[2016-04-18 21:43] MentalMushrooms commented on #10
Anybody who has atleast seen the file Is considered comtributial, you dont have to try it, just see it.
Btw perfilrobo, the code seems to be working and puzzle solver is working fantastically.
I havent got to missions yet because im starting from scratch, but im assuming that still works.
Bank Listens im gonna try to see if that works.
Clear victim log, your log, login and hide log Is all working

[2016-04-19 00:27] dominicusdev commented on #10
@MentalMushrooms Sounds like an excellent idea! I will look into this after I've done the researching bot :heart:

[2016-04-19 02:47] perfilrobo commented on #10
@MentalMushrooms Good suggestion. Well, technicaly this is viable. We can make Ajax requestions to the server and there is command to confirm completed proccess. Just send the these parameters as a POST request: "func=completeProcess&id=16126461". Just replace id parameter content for the target process id. So using this we can arrange some code to handle running processes without blocking. I'll t

[2016-04-19 05:06] dominicusdev commented on #10
@perfilrobo I'll hold on until you've finished that task management, could use it for the research bot.. Recycling, yay!! :+1:

[2016-04-19 06:25] MentalMushrooms commented on #10
Woah, the community is so stable now, I honestly thought my idea was stupid.
I have just placed 3 downloads and afkd past the complete time.
Thats how it came up.

[2016-04-19 06:40] dominicusdev commented on #10
@MentalMushrooms I fancy your idea! Honestly, it'd be a strong feature that'd play out for a lot of additional features when @perfilrobo finishes it. The researcher needs to automatically complete tasks, etcetera for it to be fully automatic, so I'm currently awaiting updates.

[2016-04-19 06:58] MentalMushrooms commented on #10
@perfilrobo @dominicusdev This idea came into mind when I was playing h.e, domincus has said something about research.
If im saying the same thing about what your saying, im sorry.
Anyways, the research part of the bot will only be available on the tab on h.e called research.
You know whenever you go to software and upgrade the version of the software.
So , on that tab make a bot that appears with

[2016-04-19 07:30] dominicusdev commented on #10
@mentalmushrooms Yeah, the captcha ks going to be an ass to bypass, but I may have an idea to do it

[2016-04-19 07:44] MentalMushrooms commented on #10
Ooooooh.
I like bypasses.
The captcha always pisses me off when im trying to do something, so just a bypass for it would be awesome!

[2016-04-20 00:07] dominicusdev commented on #10
@MentalMushrooms Was checking out our possibilities to bypass reCAPTCHA and as far as I can see, it's currently impossible to do with plain JavaScript, so no researching bot this time :(

[2016-04-20 06:26] MentalMushrooms commented on #10
@dominicusdev @perfilrobo  Well that sucks.
Keep going strong about my first idea.
And when will next update be?

[2016-04-20 06:51] dominicusdev commented on #10
Well, what I had planned but never bothered to finish was that the bot went in and automatically took the IPs from your hacked database and install the viruses >:) #fullyautomatic

[2016-04-20 07:19] MentalMushrooms commented on #10
@dominicusdev well, thats basically the exact same thing as upload and hide on the bot already, but if you have like 1k haxed databases, then this would be useful.

[2016-04-20 07:20] MentalMushrooms commented on #10
Oh and ofcourse, delete logs for the automatic stuff aswell. :)

[2016-04-20 11:44] Sibren27 commented on #10
Is it mutch time to make a money transfer script that checks all Hacked bank accounts and if there is some money on it transfer it to local bank / or put it to Bitcoin

[2016-04-20 15:10] MentalMushrooms commented on #10
Good idea!
@perfilrobo and @dominicusdev get on this guys!
Loving it!

[2016-04-20 22:19] cmathiswausau opened #20 "Ack... if you dont have a Cracker"
Please setup a double check for a cracker before performing mission related items, I just went through about 4 jobs and aborted them before  I realized what was happening.

Either that or disable the abort sequence.

But thank you for updating this otherwise.

[2016-04-21 01:22] perfilrobo commented on #20
Ok. We'll work on it as soon as possible. It was added to [next goals](https://github.com/perfilrobo/hexbot/wiki/Next-goals)

[2016-04-21 05:35] dominicusdev commented on #20
Regarding next goals, I won't be able to do the researcher properly, I'm unable to figure out a way of bypassing reCAPTCHA

[2016-04-22 09:58] dominicusdev commented on #10
Shouldn't be too hard, currently on vacation though!
@perfilrobo any chance I could have wirte permission? :)

[2016-04-22 13:11] perfilrobo commented on #10
Wow, that's awesome news. Sure, I'll give you write permission.

[2016-04-22 17:04] dominicusdev commented on #10
I'll take a look at the bank account script ehen I get back!

[2016-04-22 20:27] dominicusdev commented on #10
Also would be nice, because I know I have over 100 accounts that have like 100,000 summarized :p

[2016-04-22 22:02] MentalMushrooms commented on #10
Funcionalities:

Solve riddles/puzzles (NEW);
Performs game missions;
Intercepts bank transactions;
Performs broadcast uploads.

Emm, what ARE broadcast uploads?
:o

[2016-04-23 19:45] dominicusdev commented on #10
`var elementList = document.getElementsByTagName("*");
var accountArray = new Array();
var ipArray = new Array();
var balanceArray = new Array();
function isEmpty(str) {
    return (!str || 0 === str.length);
}
for (var elm in elementList) {
	var element = elementList[elm];
	if (element.id == "acc") {
		accountArray.push(element.innerHTML);
	}
	if (element.className == "list-amount") {
		var split

[2016-04-24 04:10] dominicusdev opened #21 "Hacked bank accounts money transferring"
This is not an issue, to be honest, just progress page
[code]

[2016-04-27 06:29] dominicusdev commented on #21
@perfilrobo Would you do anything in this any different?

[2016-04-27 06:33] dominicusdev commented on #20
@cmathiswausau Can you please elaborate this? Like for each mission it should go check whether it can find a cracker or not?

[2016-04-27 06:33] dominicusdev commented on #20
.. Or do you mean before even starting a new mission?

[2016-04-27 11:19] cmathiswausau commented on #20
BasicallyI, I didn't have my cracker running at the time because I had just
upgraded it. I am guessing that the bot didn't check that there was a
cracker even in my software in the first place.
On Apr 27, 2016 1:33 AM, "Mikkel Friis" <notifications@github.com> wrote:

[2016-04-28 05:19] dominicusdev commented on #20
I'll finish the bank account script and I'll take a look at that

[2016-05-02 23:55] gresendesa opened #22 "Let's rewrite the bot"
Hi guys.
Check this branch (https://github.com/perfilrobo/hexbot/tree/hexbot-jSpaghetti) out.

Thanks

[2016-05-03 01:46] gresendesa commented on #22
@perfilrobo @dominicusdev @Quartz101 @cmathiswausau @Klorker
Let's work together to turn those messy code into this framework structure. See the last module I wrote and take it as an example.

Thanks guys.

[2016-05-08 07:19] #22 closed

[2016-05-09 08:11] #3 closed

[2016-05-09 08:20] #4 closed

[2016-05-12 17:49] ProXyy44 opened #23 "[Suggestion]"
I have a suggestion, How about a button which uploads, installs and hides a virus on every IP on your hacked database?
It would save alot of time.

Thank you :)

[2016-05-12 22:10] gresendesa commented on #23
Sure. It can be implemented soon. A new bot implementation is in course, started the scratch: https://github.com/perfilrobo/hexbot/tree/hexbot-jSpaghetti

I guess a new module can be implemented to do that.

[2016-05-13 16:49] #23 closed

[2016-05-14 17:34] Hobolandjacob commented on #11
This is an error thrown by the server not the extension so this can be true.

[2016-05-15 04:41] #1 closed

[2016-05-16 22:10] ProXyy44 opened #28 "[Another Suggestion]"
Greetings :)

I have a suggestion, but i'm not sure if this is already implemented.

I want the bot to continue doing missions until it gets an email with the subject
"Safenet is tracking you."

So if it gets the email notification it goes to the emails and checks for that subject, if its there, it stops.
if its not, continue doing missions.

Thank you :D

[2016-05-16 23:02] perfilrobo commented on #28
Ok. Nice feature. I'll try code that. By the say check the updated @gresendesa has just sent.

[2016-05-16 23:07] perfilrobo opened #30 "Webcrawler feature"
@gresendesa  I'm really impressed with this new feature. I think this is the God mode of Hacker Experience. It seems to work like NSA systems. haha

[2016-05-17 22:41] gresendesa commented on #8
The especified problems are already solved. Please, check it out and confirm. Thanks.

[2016-05-17 22:42] gresendesa commented on #9
The specified problems are already solved. Please, check it out and confirm. Thanks.

[2016-05-17 22:43] gresendesa commented on #11
The specified problems are already solved. Please, check it out and confirm. Thanks.

[2016-05-17 22:44] gresendesa commented on #12
The specified problems are already solved. Please, check it out and confirm. Thanks.

[2016-05-17 22:44] #15 closed

[2016-05-17 22:46] gresendesa commented on #20
Now the bot asks for permission to abort missions. Please, check it out and confirm. Thanks.

[2016-05-17 22:47] gresendesa commented on #21
Hey, please, what is it for?

[2016-05-17 22:48] gresendesa commented on #30
Hahaha. Ok thanks. Enjoy it.

[2016-05-17 22:54] gresendesa commented on #6
Hey, @dominicusdev, what if you develop a script to automate the whole reseach process with a human verification step? I mean, the player just would have to solve the captcha.

[2016-05-17 22:56] gresendesa commented on #10
Hey, @dominicusdev, what if you develop a script to automate the whole research process with a human verification step? I mean, the player just would have to solve the captcha.

[2016-05-18 18:23] SaifA00 opened #32 "Upload, install and hide doesn't work"
it goes to 1.2.3.4 everytime and installs the virus it doesn't work

[2016-05-18 19:28] gresendesa commented on #32
Ow. Ok. I'll fix it soon

[2016-05-18 20:07] gresendesa commented on #32
Hey, download the latest release (https://github.com/perfilrobo/hexbot/releases/tag/v0.1.13.1) and try again. Please, inform me if this is working or not.

[2016-05-18 21:49] RhapsodySL opened #33 "Add ability to multitask"
Specifically, it would be nice to add a feature to check for jobs every five minutes (like it currently does), and if a job comes up while it's doing some other task (like uploading viruses to certain IPs), it should do the missions, and then go back to uploading viruses.

Of course, it should prioritize uploading, running, and hiding above all of that so it doesn't leave a virus partially install

[2016-05-18 21:53] RhapsodySL opened #34 "Allow user to specify the minimum internet speed to upload on when uploading viruses automatically"
In some cases, you'll find a lot of people with very slow internet speeds on their machine, and if you're automatically uploading viruses to them, it could take a long while, especially if the virus in question is big. Allow the user to specify the minimum internet speed when uploading a virus, and make the bot skip over any IPs that don't meet that minimum.

[2016-05-18 21:54] gresendesa commented on #32
OK. I've just found the bug. It is fixed. Download the latest version: https://github.com/perfilrobo/hexbot/releases (v0.1.13.2)

[2016-05-18 21:55] RhapsodySL opened #35 "Wrap web crawler into auto-upload"
...the general idea being that you can go through IPs while auto-uploading, and the bot would scrape all of the IPs and add them to the list of IPs to automatically upload to (provided it's not already on the list). Ideally, the bot would also collect information the web crawler normally would in this state.

In essence, this combines the two features to allow the bot to keep uploading nearly inde

[2016-05-18 21:57] RhapsodySL opened #36 "Prevent the BOT box from popping up on most new pages that aren't running the bot currently"
When you open a new page, like the Log File, while you aren't using the bot, the BOT box will pop up, requiring you to close it. This happens often enough to be very annoying. Ideally, this box should only pop up when the user presses on the button.

Another thing that's relevant, when the window isn't taking up the entire screen (if it's snapped to one half of the screen, for example), the button

[2016-05-19 00:05] gresendesa commented on #34
Ok. It's implemented. Check out the latest version: https://github.com/perfilrobo/hexbot/releases

[2016-05-19 00:17] gresendesa commented on #36
Well, this behavior is defined purposely. It's make the process more intuitive for new users. But you can
customize this behavior by yourself. Just go to libraries/classes/Bot.js and set **isHidden** as true. Next reload the extension.

I'll fix the close button problem soon.

[2016-05-19 01:31] SaifA00 commented on #32
It works now but almost after each log clearing it stops and I have to refresh for it to complete

[2016-05-19 02:21] RhapsodySL opened #37 "Optionally transfer the money to one of your bank accounts during Check Amount missions"
When doing Check Amount missions, you can transfer money to your own bank account without any penalty, besides Safenet potentially tracking you.

[2016-05-19 02:57] gresendesa commented on #32
Does it always happen? It happens for me too but just once in a while. I think it's due the ocasional internet slow. When there is progress bar running, the bot does nothing. It just waits for page to reload. Anyway once it happens again, check the browser console, copy and paste the jSpaghetti logs here.

[2016-05-19 03:02] gresendesa commented on #37
Check your previous requests out and give your feedback before doing other requests. Thanks.

[2016-05-19 15:22] RhapsodySL commented on #37
I don't see what feedback there is to give other than saying 'thank you'. The feature is implemented; if I had any comments about it's implementation I would've done it when I made the issue.

[2016-05-19 15:22] #34 closed

[2016-05-19 19:31] RhapsodySL opened #38 "Ensure that you'"

[2016-05-19 19:31] #38 closed

[2016-05-19 19:32] RhapsodySL opened #39 "Ensure that you're completing the correct task"
To prevent myself from being DDoSed, I always have an IP change queued. This has only happened once, just a few minutes ago, but while using this bot, my IP change was seemingly randomly used while web crawling.

[2016-05-20 23:49] Mishchap opened #40 "bot gets stuck after the second or third ip"
So the previous version I had was working perfectly (except with clan servers with no logs). - fixed that up sorry xD
Now it only goes to the second or third ip (while installing viruses) and it stops working. And the task manager fills up. I do have the latest version but I'm unsure why it doesn't work correctly. I tried the timer but it didn't work.
Did I break the bot by accident or is it somet

[2016-05-21 08:21] #32 closed

[2016-05-21 09:42] SaifA00 opened #41 "bot stops doing missions (console log and error attached)"
**# the bot stops doing missions after it go to a mission that someone had taken**
![capture](https://cloud.githubusercontent.com/assets/19435635/15447608/72126498-1f59-11e6-8fdc-03bc6816e41c.JPG)

**# Here is a picture of the console**
![console](https://cloud.githubusercontent.com/assets/19435635/15447614/8e35cb1a-1f59-11e6-871b-67326d42f98c.JPG)

**# and here is the error in line 133**
![line13

[2016-05-22 03:01] perfilrobo commented on #41
Ok. Thanks for the detailed report. I'm working on it.

[2016-05-22 14:48] SaifA00 commented on #41
Can you tell me when would you finish approximately??

[2016-05-23 00:32] perfilrobo commented on #41
today

[2016-05-23 00:52] perfilrobo commented on #41
I've just merged the changes @gresendesa has made

[2016-05-23 12:17] Mishchap commented on #40
since nobody has replied i presume you want logs?

VK. Startup (background is ready)
protectable_element_detector.js:44 Mixed Content: The page at 'https://legacy.hackerexperience.com/internet?view=logs' was loaded over HTTPS, but requested an insecure image 'http://legacy.hackerexperience.com/img/xlogo.png.pagespeed.ic.nwil56PAQB.png'. This content should also be served over HTTPS.
protectable_el

[2016-05-23 15:11] SaifA00 commented on #41
Ok, it works well now.
Thank you

[2016-05-23 15:11] #41 closed

[2016-05-23 21:21] gresendesa commented on #40
Ok. I guess the problem is here:

jSpaghetti.min.js:1 jSpaghetti debug: **Waiting for page to reload** (uploader:upload:@cleanMyAccessClues:4)

The is waiting indefinitely. I'm already anylizing this problem.

[2016-05-24 00:09] Mishchap commented on #40
As far as I know the tab wasn't inactive, but maybe I should double check.
Thanks for looking into this, I appreciate it.

[2016-05-24 08:02] Mishchap commented on #40
tried the new update, got this
VK. Startup (background is ready)
jSpaghetti.min.js:1 jSpaghetti debug: Waiting for page to reload (uploader:upload:@cleanMyUploadClues:5)
jSpaghetti.min.js:1 jSpaghetti debug: Sequence is reset (adRemover:removeAds)
VM2991:1 'webkitIndexedDB' is deprecated. Please use 'indexedDB' instead.
2content.js:15 VK. Startup (background is ready)
jSpaghetti.min.js:1 jSpaghett

[2016-05-24 18:25] gresendesa commented on #40
Could you send me just the ips with which you are having this crashes? gresendesa@gmail.com
Maybe I have to handle these ip's particularities.

[2016-05-24 19:38] gresendesa commented on #40
The second problem you reported is now fixed: https://github.com/perfilrobo/hexbot/releases/tag/v0.1.15.1

[2016-05-25 07:15] Mishchap commented on #40
still broken, ill pm you the ips im using atm
http://prntscr.com/b85izd

[2016-05-25 22:18] gresendesa commented on #33
It's implemented. Check it out.

[2016-05-25 22:20] gresendesa commented on #39
Yeah. I've noticed it. But I don't know why it happens. I'll try figure it out.

[2016-05-26 12:26] Mishchap commented on #40
uhhh, its still broken xD
http://prnt.sc/b8nil9
i think it just gets hung when it joins a server

[2016-05-26 17:41] gresendesa commented on #40
I'm going to rewrite the uploader module today. I will merge it to the webcrawler.

[2016-05-26 22:26] Mishchap commented on #40
thanks, hopefully that will fix the issue im having.

[2016-05-27 04:44] gresendesa commented on #40
Ok Yoda :~

[2016-05-27 19:25] gresendesa commented on #40
@Mishchap try again, please. I've just released the latest update

[2016-05-27 21:00] nearcbw opened #43 "close button (0.1.16)"
BUG on close button (0.1.16) no work

[2016-05-27 21:30] gresendesa commented on #43
Try to close the current tab and open another tab. I guess it will be enough. I've changed some core attributes (see /libraries/classes/Bot.js) that are not instantly loaded unless you open another tab.

If the problem persists, notify us again.

[2016-05-27 21:41] nearcbw commented on #43
Tested on all pages, the button still does not work

[2016-05-27 21:52] gresendesa commented on #43
Ok. Could you send me the error logs? Just press f12 then copy the errors and paste them here.

[2016-05-27 21:58] nearcbw commented on #43
agora que vi, você é brasileiro sdfnsldfnklsdn
então o erro que dá sobre o bot é o seguinte

 ( extension://hjdemmoplbompmdfjmbfddcimhmmmkgl/controllers/controlPanel.js:12 Uncaught TypeError: Cannot set property 'value' of null  )

e bem que você poderia traduzir o bot pra PT né dkfnsldk meu inglês é basico...

[2016-05-28 01:27] gresendesa commented on #43
Hehe. Pois é, sou de Brasília.
Ow, estranho isso, tá funcionando perfeitamente pra mim. Faz assim:
Vou falar em inglês, senão a galera não entende.

This error shows up when you have a textfield defined internally but without the DOM with the respective identifier. For sure your browser is storing conflicting cache. Mostly the problem is solved opening a new tab. If nothing happens remove the brow

[2016-05-28 01:52] nearcbw commented on #43
de uma olhada no seu email

[2016-05-28 03:21] Mishchap commented on #40
oh man... it's still happening http://prntscr.com/b9bwyz
would it be because i have an ip reset qued and ready to go?

[2016-05-28 03:46] saulens22 commented on #40
It can happen when doing missions too. I think it's because game redirects you into your log/software, not into page bot expects. When task manager is empty, everything works fine.

[2016-05-28 04:34] Mishchap commented on #40
ill see if it works without the ip reset qued, i hope that it just wasnt because of that this whole time :/
dont want to be causing problems for nothing

[2016-05-28 04:42] Mishchap commented on #40
okay it still broke even without an ip reset qued
http://prntscr.com/b9cf4y

[2016-05-28 04:55] gresendesa commented on #40
Hey. Help me please. I really wanna fix it.
Let's break it down.
Does the log progress bar appear before the crash?
Well, the logs are telling me the progress bar is appearing. But the logs don't make sense to me once the bot get crashed. :(

[2016-05-28 04:58] Mishchap commented on #40
so like, it logs into the server after showing the progress bar,  and clears the log, and it also shows the progress of it clearing. but after that it stops.

[2016-05-28 05:08] gresendesa commented on #40
What a odd! The game site sometimes has a strange behavior.
Anyway I'm going to replace the {"wait": "_forPageToReload"} command for {"wait": _forTheSignal} command. I think it must work.

[2016-05-28 05:10] Mishchap commented on #40
It stops after a couple of ips. Hopefully replacing the code will fix it xD

[2016-05-28 05:14] gresendesa commented on #40
Give just 20 min

[2016-05-28 05:15] Mishchap commented on #40
sure :p

[2016-05-28 05:38] gresendesa commented on #40
Ok. Check it out: https://github.com/perfilrobo/hexbot/releases/tag/v0.1.16.2
Give me your feedback

[2016-05-28 05:54] Mishchap commented on #40
giving it a whirl, ill wait 10 mins, if it doesnt work before that, ill tell you

[2016-05-28 05:57] Mishchap commented on #40
was working okay, but it got stuck again - http://prntscr.com/b9cuf4

[2016-05-28 17:26] gresendesa commented on #40
Hey, What if the bot never waits for log process? I can make it works under background using AJAX.

[2016-05-29 04:07] Mishchap commented on #40
what do you mean by that? I'm only asking because I don't know much about coding.

[2016-05-29 07:09] gresendesa commented on #40
@Mishchap It was just a thought. Hey check the latest version out. I think the problem you've been reported is permanently fixed.

[2016-05-30 04:24] Mishchap commented on #40
when i get home ill see if it works, thanks for really trying to solve my issue!

[2016-05-30 07:17] Mishchap commented on #40
it works! thanks for fixing it @gresendesa :)
hopefully i wont have this issue again xD

[2016-05-30 14:27] AllyBox commented on #10
Hello! Great work! Can you add the other missions too? Atleast the Steal and delete missions. Thank you.

[2016-05-30 18:52] SaifA00 opened #44 "The bot does not complete mission in bank transfer missions."
# the bot stops at this page and does nothing
![bug](https://cloud.githubusercontent.com/assets/19435635/15656506/23d310fe-26b9-11e6-8a08-ceefe672cf51.PNG)

# This is the console
![console](https://cloud.githubusercontent.com/assets/19435635/15656489/d953575a-26b8-11e6-9ea1-a555941207bb.PNG)
# note:This problem is happening after the last update

[2016-05-30 21:54] gresendesa commented on #44
Does it always happen or just once?

[2016-05-30 22:03] gresendesa commented on #40
You're welcome. :)

[2016-05-30 23:10] perfilrobo commented on #10
@AllyBox Hello! Thanks.
Well, the cost–benefit to these missions is not good, because the game server has too many bugs. But I'll work on it soon.

[2016-05-30 23:54] jordan-mason01 opened #45 "A couple of suggestions"
1. Allow the bot to have an ignore list that the user can edit so that when web crawling the bot doesn't go over already hacked ips.

2. A little trickier of a request but allow the bot to have if commands. for example the user can write out a statement like so... if ip>250 mbits of internet then install .vwarez virus. else install .vddos virus. or even have multiple if statements. (dont know how

[2016-05-31 02:38] Mishchap commented on #40
xD hahahah
it seems to log out after 100 ips or so, or stops when there is one of those verification things
ill just keep on running it and try and see when it stops, i doubt its the bot.
it just might be the website logging me out on purpose or something like that.
or maybe its just me, ill see if its a net issue or something else :p

[2016-05-31 02:40] SaifA00 commented on #44
Always

[2016-05-31 06:40] gresendesa commented on #44
Fixed

[2016-05-31 06:42] gresendesa commented on #45
I've just implemented your first suggestion.
Check the latest version out. :)

[2016-05-31 07:42] SaifA00 commented on #44
It works well now, but I don't like the new update that accepts medium missions I think it's better to choose between type of missions not difficulty

[2016-05-31 15:50] jordan-mason01 commented on #45
Thanks you!

[2016-05-31 19:45] DutchXYZ opened #46 "Cloudflare bot detection"
Could you perhaps add a customizable wait time when crawling + uploading? I'm hitting the bot detection every 5 minutes :/ Running on 1GBPs internet (real life) so it's ultra fast...

[2016-06-01 14:48] gresendesa commented on #35
Suggestion implemented. Check the latest version out.

[2016-06-01 14:48] #35 closed

[2016-06-01 14:49] #8 closed

[2016-06-01 14:49] #9 closed

[2016-06-01 14:50] #10 closed

[2016-06-01 14:50] #11 closed

[2016-06-01 14:50] #12 closed

[2016-06-01 14:51] #20 closed

[2016-06-01 14:52] #21 closed

[2016-06-01 14:54] #43 closed

[2016-06-01 14:54] #44 closed

[2016-06-01 14:57] gresendesa commented on #39
It's happening due to the game site anomalous behavior. This is not handleable.

[2016-06-01 14:57] #39 closed

[2016-06-01 14:57] #36 closed

[2016-06-01 14:58] #30 closed

[2016-06-01 15:00] #33 closed

[2016-06-01 15:01] gresendesa commented on #37
Implemented. Check it out.

[2016-06-01 15:01] #37 closed

[2016-06-01 15:02] gresendesa commented on #40
@Mishchap reopen if necessary.

[2016-06-01 15:02] #40 closed

[2016-06-01 15:24] SaifA00 opened #47 "Suggestion"
Can you please replace medium and hard missions by choosing mission type? because I don't want money transfer missions because I get tracked by safenet.

[2016-06-01 16:17] DutchXYZ opened #48 "Suggestion"
Fix the bug where when you have something in the task manager it can still crawl, im tired of getting ddosed when im crawling and losing a server or two and 1gbps internet

[2016-06-06 11:08] shortbread31 opened #49 "Webcrawl IP Write"
Write IP's found by the webcrawler to a text file which can be viewed after or as the web crawler is running

[2016-06-16 02:56] Huskyunion opened #50 "Suggestion"
I use a virus that is 700 MB. I normally leave it to infect a large list while I do stuff irl. and I dont want to waste 1 hour on 1 server that will never make any money. I suggest the ability to not upload a virus to a server on 1mb/4mb servers.

[2016-06-16 03:46] perfilrobo commented on #50
Have you ever tried to use time limit?
You can ignore servers that will take too much time.
Just specify the time limit in seconds.

[2016-06-16 06:01] Huskyunion commented on #50
@perfilrobo Oh its a time limit, it said wait until so I thought it'd wait 10 minutes on 1 host. thanks.

[2016-06-16 06:01] #50 closed

[2016-06-16 14:01] perfilrobo commented on #49
Unfortunately browser javascript isn't allowed (for security reasons) to change files on disk. But you can see the webcrawler results after the process (you may abort the process too) that appears into the respective text field.

[2016-06-16 14:02] perfilrobo commented on #48
Ok. I'll fix it soon.

[2016-06-16 14:27] perfilrobo commented on #46
Yeah. The cloudflare (or something, I don't know) can detect repetitive pattern. There's nothing to do about that.

[2016-06-16 20:05] danieln16 opened #51 "[Suggestions]"
Hi, I think it would be cool if these Features could be added to the bot to make it better:
1. Auto Run Viruses [Crawler]: If there are viruses on the target server, automatically run these before uploading the player's viruses
2. Auto Research: Pretty Self Explainitory!
Thanks for reading

[2016-06-19 04:44] naimmulmukin opened #52 "one more suggestion"
If we did intercept a bank transaction, the bot will collect all ip login or money transfer
so we will get most active and new player ip

sorry if I made too many requests

[2016-06-21 17:36] BaaBaaBruh commented on #51
Also, make it so it will automatically do puzzles :)

[2016-06-22 19:45] QuesoConMantequilla opened #53 "One suggestion."
Is it possible to insert a specific bank account with his IP (Talking about the BANK IP), transfer the money to your account and instantly make it be BTC?
It should be useful for people looking for bank accounts and dont getting risk to get stealed..

[2016-06-22 21:30] perfilrobo commented on #51
Nice suggestions! Thanks.
I'm promising nothing. But I'll consider your suggestions for the new release.
I have to say that auto research is kinda unviable due to captchas but maybe we can build something similar.

[2016-06-22 21:34] perfilrobo commented on #51
@BaaBaaBruh Hey, what do you mean by "automatically do puzzles"? Do you know the bot already solve puzzles?

[2016-06-22 21:42] perfilrobo commented on #52
Hey, don't worry. Suggestions are always welcome.
Actually I didn't understand well what you meant. Could you explain your suggestion in more detail.

[2016-06-22 21:55] perfilrobo commented on #53
Hi. Have you ever tried to check the "Transfer the earned money to connected BTC wallet" option? It does exactly what you are saying.

Note: This option is only available since the [penultimate version](https://github.com/perfilrobo/hexbot/releases/tag/v0.1.21).

[2016-06-23 01:16] QuesoConMantequilla commented on #53
No no, im talking about something like this:
Ip 659.693.495 recollected his money from viruses and ip 330.500.0.0 got his bank account.
Ip 330 goes to that bank, cracks bank account and logs in, before he can delete the logs he gets all his money stealed.
So, the bot option should be:
IP 659 recollects money, IP 330 uses the bot and inserts the bank account, the bot automatically does the progress

[2016-06-23 04:24] SquadZLeader opened #54 "How to clear suspect activities?"
So I notice the suspect activities keep stuck under my logs
But how do I clear that?

[2016-06-23 04:35] naimmulmukin commented on #52
when I intercept transaction bank, and steal other player money... I see many IP login and steal my money back but this bot not collect IP and just delete them

So i think its more usefull if this bot can collect ip log and do intercept bank at same time

[2016-06-23 16:16] perfilrobo commented on #53
Got it. I'll try to implement your suggestion soon.

[2016-06-23 16:20] perfilrobo commented on #54
Currently there's no way to clear the logs unless you restart the browser.
I'll insert a button to reset that field soon.

[2016-06-23 16:31] QuesoConMantequilla commented on #53
I got other ideas, after im going to create a thread with these ideas.
Thanks! Closing thread.

[2016-06-23 16:31] #53 closed

[2016-06-24 17:38] Protorne opened #55 "Some suggests for the BOT"
When the BOT does the mission, the way it does is like this: Hack the account ==> Log in the account ==> transfer the money ==> log out from the account ==> log in again to the bank to erase the log... it's not convenient.... Imagine, people always wait in the bank's log and keep refreshing them to get informations so that sometimes you may not have enough time to do like this...
Which means the w

[2016-06-24 20:04] SquadZLeader commented on #54
Also you mind using storage?
https://developer.chrome.com/extensions/storage

To have those check box setting save
So we don't have to keep checking it all the time

[2016-06-24 20:12] BaaBaaBruh commented on #51
Like it can solve a puzzle, then move on to the next

On Wednesday, June 22, 2016, perfilrobo <notifications@github.com> wrote:

[2016-06-25 23:28] perfilrobo commented on #52
Nice. I'll thought about a way to implement that. Thanks for the suggestion.

[2016-06-25 23:41] perfilrobo commented on #51
@BaaBaaBruh I've been thought about a way to implement that. Actually it implies other things. I mean if someone is solving puzzles he for sure has a low cracker and so is trying to upgrade it. So, the bot would have to have capable to make this upgrade process automatically. I guess it will be a little tricky to code this. I'm trying to find time to implement this. I think it will be take too muc

[2016-06-25 23:57] perfilrobo commented on #54
Ok. Thanks for the tip.
Currently there is a storage that persists these states only during a browser session. I mean, if you close the browser the bot state is lost. It prevents the bot to break permanently if some data is storaged incorrectly. I'm afraid this will not be changed, but you can customize it by yourself.

Email-me for more details. perfilrobo@gmail.com

[2016-06-26 00:01] perfilrobo commented on #55
@Protorne Thank you very much for your words. :)

Yes! I will try to implement your suggestion. Yes I agree with the fact that the missions sequences are kinda unsafe. I must improve it.

[2016-06-27 11:12] itsmrdude opened #56 "Dialog Boxes interrupting bot?!"
When running the bot, I keep getting dialog boxes when : editing log file on remote host, editing log file on localhost, hiding file or installing software. This interrupts the automation process until I manually click OK or complete the edit log by going to task manager and clicking complete.

Running on Mac: 10.11.4, Chrome Version 51.0.2704.106 (64-bit).

Any ideas ?

[2016-06-29 04:03] BaaBaaBruh opened #57 "Bank Intercepting Problem"
Whenever I launch the intercept a bank transaction feature, the page keeps reloading and doesn't do anything to take money.

[2016-06-29 04:04] BaaBaaBruh commented on #56
Try deleting the extension, disabling developer mode, and installing again.

[2016-06-29 16:17] BaaBaaBruh commented on #57
Also, can you do something to remove the Hacker Experience 2 banner?

[2016-06-30 04:55] #55 closed

[2016-06-30 10:11] Nikmann1234 opened #58 "Missions"
when the bot are doing a mission it doesn't log into the bank and clean the log, it only go to the hack page and the to the front page right after.

[2016-06-30 17:21] QuesoConMantequilla opened #59 "Make the bot use exploits."
So, thats all in my title.
Lets say, ip 68.33.31.59 got a 80,0 hasher and a low firewall (or uninstalled one), if the bot cant enter by cracking it make him port scan the server and see if the target has his firewall uninstalled or something, so it can enter the server without being necessary to crack.
or atleast, make the bot to anote at the available VPCS those uncracked ones, so is more easily

[2016-06-30 18:18] perfilrobo commented on #59
I can understand you. It's English, right?

Good suggestion. Thanks.

[2016-06-30 18:24] perfilrobo commented on #57
Well, actually it's the bot's ordinary behavior.
The bot keeps reloading the page until a log transaction shows up.
As soon as it happens the bot starts the interception process.

[2016-06-30 18:27] perfilrobo commented on #56
It just happens if there is a reset ip process on the queue process.
Unfortunately the website has a bug that makes this happen.

[2016-06-30 19:26] QuesoConMantequilla commented on #59
Yup is english, not my natal language.
#closing

[2016-06-30 19:26] #59 closed

[2016-07-01 15:20] BaaBaaBruh commented on #57
well it refreshes even when someone's bank account appears in the log

On Thu, Jun 30, 2016 at 11:24 AM, perfilrobo <notifications@github.com>
wrote:

[2016-07-03 08:00] Dramora commented on #51
i think that it would be cool if it did green missions too and if it had an auto ddos and log clean of your ddos infected servers and local host

[2016-07-08 08:35] Blackdawn69 opened #60 "Major Suggestion"
Make it so the bot can make alt accounts and put warez on them.
All a user has to do then is fix the captcha.
It would help a lot.

[2016-07-09 03:24] Welliz opened #61 "Help!!"
I have a question , how to use the " Climb these software " ??

[2016-07-12 17:20] real-blackdawn commented on #60
Thanks for impersonating me......

[2016-07-25 15:24] Reiko89 opened #62 "Software Not Found"
I'm having a problem with uploading software using the webcrawler. I have a list of IP's entered, however it refuses to recognise my software.

Upload these softwares: **{Zminer.vminer:6.1}** Wait until **5**

[2016-07-26 17:48] perfilrobo commented on #62
Remove braces and try again.

[2016-07-27 01:02] Reiko89 commented on #62
I see now, that's working perfectly, thanks.

[2016-07-27 15:21] Reiko89 opened #63 "Suggestion"
I love how the bot will just scan the bank logs and steal any money it can, but I think this feature could be improved a little.

It would be nice if the bot gave you a log of all IP addresses and amount of cash stolen when you stop the "Intercept Bank Tansactions". This would allow us to go back and check those accounts at a later date, something that has proven to be very successful for me.

The

[2016-07-27 22:41] hexbotuser opened #64 "Mission"
Hello guys, i would like to thank u all for the effort to keep this great project that all of us love, congratulations ! But i am not able to get Easy missions on the bot anymore... only medium or hard missions, so i would like to ask u guys to implement this on a new version if possible! Thanks!!! :)

[2016-08-07 10:58] JBL1503 opened #65 "Bot Button"
Hi

It is possible to make the button stealthy.  Or how do I change the code to stop the button showing red?

[2016-08-20 09:25] danieln16 opened #66 "Suggestion"
On the webcrawler, could you add a button so it make it not upload viruses to the NPCs, but still grabs IPs from them as it wastes time as they are deleted in a few hours

[2016-10-06 16:47] WolfGFX opened #67 "Suggestion"
Alright, so i been here 'long time, you might remember me as MentalMushroom.
I have taken a break off for a couple of months, and am blown away by this github project.
The feedback is UNREAL. Anyways, back to the suggestion.
My suggestion is that, if it is possible, that you could implement a "Self Upgrading Software" Part to the bot.
Here is what i mean,
You go to your software, and decide to upg

[2016-10-12 04:19] dominicusdev commented on #67
This exact thing has been discussed multiple times, I even were doing one back when I was active.
The thing is; the captcha's are really hard to bypass nowadays, so this is not an option at this stage. :/

[2016-10-14 18:13] WolfGFX commented on #67
Closed.

[2016-10-14 18:14] WolfGFX commented on #67
Closed.

[2016-10-14 18:14] #67 closed

[2016-10-16 12:02] WolfGFX opened #68 "Suggestion ( Banks )"
Right, here is what i been thinkin'
There will be a new button added to the bot saying - Bank Logging - ( Or something like it )
So, what this button does, it searches through ( Put desired amount here ) of your bank ips ( Already Hacked bank IPS ) And if they have any money ( Put desired money here. If money over 1000$, Steal, if below ( Desired Amount ) then leave. )
It would be a cool concept t

[2016-10-16 15:15] TheOrangeGaming opened #69 "Suggestion (Missions)"
If you could make the bot be able to do delete software missions or ddos missions that would be amazing and also if it could have like if you was on the fbi's most wanted and you was over a certain amount of $$ for bounty it could then change it's IP through the ISP?
and also a complete all missions button for when I want to go ahead and make a lot of money on a alt account and then transfer it ov

[2016-10-16 15:17] TheOrangeGaming opened #70 "Suggestion (Missions&Research)"
If you could make the bot be able to do delete software missions or ddos missions that would be amazing and also if it could have like if you was on the fbi's most wanted and you was over a certain amount of $$ for bounty it could then change it's IP through the ISP?
and also a complete all missions button for when I want to go ahead and make a lot of money on a alt account and then transfer it ov

[2016-10-17 20:03] #69 closed

[2016-10-17 20:22] gresendesa commented on #70
Yeah. I've been being very busy lately, but I'll try to make the delete software missions sequence.

[2016-10-17 20:28] gresendesa commented on #68
Nice! I would like to see this feature working.
I'll try to code something.

[2016-10-17 20:29] gresendesa commented on #66
Yeah. It would be awesome.

[2016-10-17 20:52] gresendesa commented on #65
Yeah it's possible.
1 - Remove the bot from the Chrome.
2 - Go to the code and open the following file: core/views.js
3 - Find for the following snippet:
[code]
4 - Then remove the string content from these two attributes. Like that:
[code]
5 - So install the bot on the Chrome  from the modified code. :)

[2016-10-17 21:00] gresendesa commented on #64
Thanks. I'll try to work on it soon. :)

[2016-10-23 04:42] TheOrangeGaming commented on #70
Any update?

[2016-11-01 22:00] EnzzoCaaue opened #71 "Webcrawler not installing viruses."
As title says, webcrawler function is not installing the software. Using win10 latest chrome.

[2016-11-02 13:42] gresendesa commented on #71
Well, the webcrawler still seems to work fine to me. Could you give us more details, logs, etc?
By the way, a lot o people get confused using the upload functionality with the time limit. Remember, you must to specify the time limit in SECONDS. I mean, if the upload seems to get more time than the specified seconds, the upload is aborted and the bot skips to the next step.

[2016-11-02 15:08] lok2 opened #72 "botao de fechar nao aparece"
olha já tentei de todas as formas, ja reinstalei a extensao, limpei o cache já até resetei meu ip, gostaria de saber como resolver o botao de fechar nao aparece mais, estava normal até ontem e hoje simplesmente sumiu, eu usava a versao 1.22.2 já atualizei pra versao mais recente mas sem resultado...gosto muito do bot e ajuda bastante parabens pelo script

[2016-11-02 16:01] lok2 commented on #72
antes eke ficava assim só quando eu entrava no en.hackerexperience.com, mas agora esta assim com o host br tambem

[2016-11-02 18:42] gresendesa commented on #72
Cara, esqueci de arrumar isso. Droga. Na próxima versão já vai estar resolvido.
Mas até lá você pode resolver indo até o arquivo core/views.js e remover todas as ocorrências de "hide1024" (sem as aspas). Sacou? Vê se resolve. Depois fala aí o que aconteceu.

Everyone who are facing problems with the close button, please go to the file core/views.js and remove every occurrence of "hide1024". It wil

[2016-11-02 21:59] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 21:59] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 21:59] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 21:59] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 21:59] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:00] lok2 commented on #72
cara, removi todos os "hide 1024" (sem as aspas) que encontrei mas nao resolveu, continua ainda oculto

[2016-11-02 22:12] lok2 commented on #72
obrigado cara, me ajudou bastante... proxima versao se conseguirem fazer com que o bot nao trave na mensagem "are you sure" quando vc roda webcrawler com reset ip na task ajudaria muito

[2016-11-02 23:50] gresendesa commented on #72
Vê a nova versão ae
https://github.com/perfilrobo/hexbot/releases/tag/v0.1.24.1

[2016-11-04 00:13] nearcbw opened #74 "Browser Opera"
Existe a possibilidade de usar no Opera?

[2016-11-04 23:33] gresendesa commented on #74
http://www.makeuseof.com/tag/how-to-install-google-chrome-extensions-in-opera-browser/

[2016-11-05 00:12] nearcbw commented on #74
Muito obrigado <3

[2016-11-05 00:12] #74 closed

[2016-11-05 22:32] #72 closed